.carousel{
    justify-content: center;
    padding: 10px 50px;
    margin: 30px 50px 40px 50px;
    align-items: center;
    justify-items: center;
}
.carousel-item{
    transition:ease-out;
    animation:fadeIn 4s ease;
    @keyframes fadeIn {
        0%{
            opacity: 0;
            filter:blur(10px);
        }
        10%{
            opacity: 1;
            filter: blur(5px);
        }
    }
    img{
        height: auto;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:620px){
    .index{
        height: 380px;
        margin-top: 80px;
    }
}
